@media only screen and (min-width:800px) {

	body {
		margin-right: 10%;
		margin-left: 10%;
	}
	
	input[name=filter]:not([id="Home"]) + label:hover {
		color: #03DAC6;
	}
}

html {overflow-y: scroll;}

body {
	padding-right: 25px;
	padding-left: 25px;
	background-color: #121212;
	font-family: Consolas, monaco, monospace; 
	color: #FFF;
}


h1 { font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; }

h3 { font-size: 17px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 23px;}

h6 { font-size: 12px; font-style: normal; font-variant: normal; font-weight: 600;}

h6:before { color: #03DAC6;  content: "| "; }

p { font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; text-align: justify; text-justify: inter-word; }

a {
	text-decoration: underline;
	color: inherit;
}

.post {
	margin-bottom: 10px;
}

input[name=filter] {
	display: none;
}

input[name=filter] + label {
	color: #444;
	font-size: 15px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 23px;
	margin-bottom: 20px;
	margin-right: 20px;
	cursor: pointer;
}

input[id=Home] + label {
	display: block;
}

input[name=filter]:not([id="Home"]) + label {
	display: inline-block;
}

input[name=filter]:checked + label {
	color: #03DAC6;
}

input[id=Home]:checked ~ .post {
	display:;
}

input[id=Templates]:checked ~ .post:not([class~="Templates"]),
input[id=Events]:checked ~ .post:not([class~="Events"]),
input[id=CAD]:checked ~ .post:not([class~="CAD"]),
input[id=DIY]:checked ~ .post:not([class~="DIY"]),
input[id=IT]:checked ~ .post:not([class~="IT"]){
  display: none;
}

.footer {
	color: #444;
	text-align: center;
	font-size: 12px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 15px;
}
