
@media only screen and (max-width: 600px) {
	
	body {
		margin-left: 8px;
		margin-right: 8px;
	}

	.header {
		text-align: center;
	}
	
	input[name=filter] + label:hover {}
	
}

body {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #E5E8EA;
}

h1, h2, h3, h4 {
	font-weight: 300;
}

.post {
	background-color: #FFF;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 20px;
	padding-left: 20px;
}

.post h2 {
	display: inline;
}

.post h4 {
	display: inline;
	color: grey;
}

input[name=filter] {
	opacity: 0;
	width: 0;
}

input[name=filter] + label {
	font-weight: 300;
	font-family: Arial;
    padding: 0.5rem 1rem;
	border-radius: 2rem;
	min-width: 50px;
	transition: all 0.1s;
	margin-bottom: 10px;
	text-align: center;
	display: inline-block;
}

input[name=filter]:checked + label {
    background: #59C2A3;
	color: #FFF;
}

input[name=filter] + label:hover {
	background: #9FD5C7;
	color: #FFF;
}

input[id=All]:checked ~ .post:not([class~="post"]),
input[id=Bio]:checked ~ .post:not([class~="Bio"]),
input[id=CAD]:checked ~ .post:not([class~="CAD"]),
input[id=Programming]:checked ~ .post:not([class~="Programming"]){
  display: none;
}

.thumbnail {
  border-radius: 8px;
  display: inline-block;
  max-height: 100px;
  width: auto;
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;
	/** Unhide lightbox **/
	display: block;
}
